In [45]:
import pandas as pd
import matplotlib.pyplot as plt
plt.rc('figure', figsize = (15, 7))

In [46]:
df=pd.read_csv('aluguel_amostra.csv',sep=';')

In [47]:
df.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Recreio dos Bandeirantes,3,2,1,320,3200.0,1319.0,0.0,10.00,Apartamento
1,Apartamento,Maracan達,2,0,0,59,800.0,725.0,47.0,13.56,Apartamento
2,Apartamento,Leblon,3,2,1,147,7500.0,1000.0,381.0,51.02,Apartamento
3,Apartamento,S達o Conrado,3,3,3,270,14999.0,2800.0,1200.0,55.55,Apartamento
4,Apartamento,Tijuca,2,1,0,65,1200.0,640.0,97.0,18.46,Apartamento

In [48]:
limite_inferior=df['Valor m2'].quantile(q=.25)

In [49]:
limite_superior=df['Valor m2'].quantile(q=.75)

In [50]:
IIQ=limite_superior-limite_inferior

In [51]:
limite_superior

42.31

In [52]:
limite_inferior

21.25

In [53]:
IIQ

21.060000000000002

In [54]:
limite_inferior - 1.5 * IIQ

-10.340000000000003